---
import { Image } from 'astro:assets'
import MainContainer from '../containers/main-container.astro'
import { Icon } from 'astro-icon/components'
import LogoImage from '../assets/logo.webp'

const links = [
  { href: '/', label: 'Inicio' },
  { href: '#sobre-nosotros', label: 'Sobre Nosotros' },
  { href: '#ventajas', label: 'Ventajas' },
  { href: '#galeria', label: 'Galería' },
  { href: '#socios', label: 'Socios' },
  { href: '#contacto', label: 'Contacto' },
]

const menuMobileBlurId = 'menu-mobile-blur'
const menuMobileId = 'menu-mobile'
const menuMobileToggleId = 'menu-mobile-toggle'
---

<div id={menuMobileBlurId} class="fixed inset-0 z-50 hidden bg-black/30 backdrop-blur-sm md:hidden"></div>
<header class="bg-primary text-background sticky top-0 left-0 z-60">
  <MainContainer className="relative my-auto flex h-[80px] items-center justify-between py-4">
    <a href="/">
      <Image src={LogoImage} alt="Robotic Drums Logo" class="h-10 w-auto shrink-0" />
    </a>
    <button id={menuMobileToggleId} aria-label="Abrir menú" class="md:hidden">
      <Icon name="mdi:menu" title="Navbar Menu" class="size-12" />
    </button>
    <nav id={menuMobileId} class="polka-primary-dark absolute top-full left-0 hidden w-full md:hidden">
      <ul class="flex flex-col items-center py-4 text-base">
        {
          links.map((link) => (
            <li class="grid w-full text-center">
              <a href={link.href} class="py-4 hover:underline">
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <nav class="hidden md:inline">
      <ul class="flex items-center gap-4 text-base">
        {
          links.map((link) => (
            <li>
              <a href={link.href} class="hover:underline">
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </MainContainer>
</header>

<script is:inline define:vars={{ menuMobileToggleId, menuMobileId, menuMobileBlurId }}>
  const $menuMobileToggle = document.getElementById(menuMobileToggleId)
  const $menuMobile = document.getElementById(menuMobileId)
  const $menuBlur = document.getElementById(menuMobileBlurId)

  $menuMobileToggle.addEventListener('click', () => {
    const isOpen = $menuMobile.classList.toggle('hidden')
    $menuBlur.classList.toggle('hidden', isOpen)
  })

  $menuBlur.addEventListener('click', () => {
    $menuMobile.classList.add('hidden')
    $menuBlur.classList.add('hidden')
  })
</script>
