---
import '../styles/global.css'

const {
  title = 'Robotic Drums',
  description = 'Robotic Drums Landing Page Demo',
  url = Astro.site,
  image = 'social-preview-image.webp',
  author = 'Santiago García',
} = Astro.props
---

<html lang="es" dir="ltr" class="scroll-pt-[calc(80px+calc(var(--spacing)*8))] overflow-x-hidden scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="title" content={`${title}`} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />

    <!-- open graph -->
    <meta property="og:title" content={`${title}`} />
    <meta property="og:description" content={description.slice(0, 100)} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={`${Astro.site}${image}`} />

    <title>{title}</title>
  </head>
  <body class="bg-background text-foreground max-w-vw relative overflow-x-hidden font-sans text-lg">
    <slot />
  </body>
</html>
